body {
  font-family: 'Pangolin', cursive;
}

.main-wrapper {
  max-width: 650px;
  margin-top: 40px;
}

input[type="text"] {
  height: 56px;
  font-size: 24px;
}

p.intro {
  font-size: 20px;
}

p.engine-text {
  font-size: 24px;
  background-color: #eee;
  padding: 30px;
  border-radius: 6px;
}
